.search-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  // border: 1px solid black;
}

.user-input-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 60%;
  border: 1px solid green;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid pink;
  padding: 10px;
}

.results, .no-results, .searching, .error {
  display: none;
  width: 100%;
}

.doctors {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid red;
}

.doctor {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border: 1px dotted grey;
}

.doctor-img {
  width: 40%;
}

.doctor-info {
  width: 60%;
}
